body {
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  font-family: Bahnschrift;
  overflow: hidden; /* Keep this for all screens */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #A91D3A;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  color: white;
}

.bot-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bot-box-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}


.main-content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 30px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-left: 1rem;
  margin-right: 30px;
}

.player-box {
  width: 100px; 
  height: 100px; 
  background-color: #A91D3A;
  border: 2px solid #000000; 
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

table {
  background-image: url(image/board.png);
  background-size: cover;
  max-width: 100%;
  height: auto;
  margin-left: 30px;
}

.box {
  border: 1px solid black;
  padding: 2.3rem;
  position: relative;
}

.player-avatar {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rollDice {
  background-color: #A91D3A;
  color: white;
  border-radius: 1rem;
  padding: 2.3rem 7rem;
  font-size: 1.5rem;
  font-family: Bahnschrift;
}

#dice-1 {
  width: 100px;
  height: 100px;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.avatar-container {
  max-width: 100%;
  background-color: #A91D3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #A91D3A;
}

.avatar-container input {
  margin-bottom: 1rem;
}

select {
  padding: 1rem;
  margin: 1rem;
  width: 250px;
  font-family: Bahnschrift;
  text-align: center;
  border-radius: 0.5rem;
}

input[type=button] {
  padding: 0.5rem 3rem;
  font-family: Bahnschrift;
  border-radius: 0.5rem;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px black;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 1600px) {
  .avatar-container {
    max-width: 90%;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1500px) {
  .avatar-container {
    max-width: 80%;
  }

  #rollDice {
    padding: 1.5rem 3rem;
  }

  #dice-1 {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 1300px) {
  .box {
    padding: 1.8rem;
  }

  .avatar-container {
    max-width: 75%;
  }

  #rollDice {
    padding: 1rem 3rem;
  }

  img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1100px) {
  table {
    margin-left: 0;
  }
  .player-box {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    left: 40px;
  }
  #rollDice {
    padding: 0.5rem 1rem;
  }
  #dice-1 {
    width: 40px;
    height: 40px;
  }
  .left-section {
    margin-left: 10px;
  }
  .right-section {
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .box {
    padding: 1.5rem;
  }
  #rollDice {
    padding: 0.5rem 0.5rem;
    font-size: 20px;
  }
  #dice-1 {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 800px) {
  #rollDice {
    padding: 0.5rem 0.5rem;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 12%;
  }
  #dice-1 {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 5%;
  }
}

@media (max-width: 750px) {
  .box {
    padding: 1.5rem;
  }
  .player-box {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25%;
  }
  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .left-section {
    order: 1; /* Change the order to appear below */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .right-section {
    order: 2; /* Change the order to appear above */
    position: relative;
    top: 50px;
  }
  .avatar-container {
    position: relative;
    left: 0;
    width: 100vh;
    padding: 1rem;
    display: inline-block;
  }

  img {
    width: 50px;
    height: 50px;
  }

  #rollDice {
    position: fixed;
    bottom: 35%;
    right: 15%;
  }
  #dice-1 {
    position: fixed;
    bottom: 35%;
    right: 5%;
  }
}

@media (max-width: 540px) {
  html, body {
    overflow: hidden; /* Ensure overflow is hidden on mobile devices */
    height: 100%; /* Ensure the height is set to 100% */
    width: 100%; /* Ensure the width is set to 100% */
    position: fixed; /* Prevent scrolling */
  }

  .bot-box {
    overflow: hidden; /* Prevent overflow in modal */
  }
  
  .box {
    padding: 1rem;
  }

  .player-box {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30%;
  }

  .players {
    gap: 0.5rem;
    font-size: 12px;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
  }

  .left-section {
    order: 1; /* Change the order to appear below */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .right-section {
    order: 2; /* Change the order to appear above */
    position: relative;
    top: 50px;
    overflow: hidden;
  }

  #rollDice {
    position: fixed;
    bottom: 30%;
    right: 20%;
    padding: 1rem 3rem;
  }

  #dice-1 {
    position: fixed;
    bottom: 30%;
    right: 7%;
  }
}

